<div class="main-block">
    <form action="/">
        <div class="account-details">
            <div class="GST"><label>GST No:</label><input type="text" placeholder="Enter GST No" required><i
                    class="fa fa-check-square fa-2x" style="color: #14b629;"></i></div>
            <div><label>PAN No:</label><input type="text" placeholder="Ex.ADSKHDKHJ" required></div>
            <div><label style="color: red;">Code:</label><input type="text" placeholder="Enter Code" required></div>
            <div><label style="color: red;">Name:</label><input type="text" placeholder="Enter Name" required></div>
            <div>
                <label>Address:</label>
                <textarea type="text" placeholder="Enter Address" required></textarea>

            </div>
            <div>
                <label>Pin Code:</label>
                <input type="text" placeholder="Enter Pin Code" required>
            </div>


            <div>
                <label>Country:</label>
                <select>
                    <option>Select Country</option>
                    <option>Country 1</option>
                    <option>Country 2</option>
                    <option>Country 3</option>
                </select>
            </div>
            <div>
                <label>State:</label>
                <select>
                    <option>Select State</option>
                    <option>State 1</option>
                    <option>State 2</option>
                    <option>State 3</option>
                </select>
            </div>
            <div>
                <label>City:</label>
                <select>
                    <option>Select City</option>
                    <option>City 1</option>
                    <option>City 2</option>
                    <option>City 3</option>
                </select>
            </div>

            <div>
                <label></label>
                <input style="display: none;">
            </div>

            <div>
                <label>Mobile No:</label>
                <input type="text" placeholder="Enter Mobile No">
            </div>

            <div>
                <label>Email:</label>
                <input type="text" placeholder="Enter Email">
            </div>
            <div>
                <label>Latitude:</label>
                <input type="text" placeholder="Enter Latitude">
            </div>


            <div>
                <label>Longitude:</label>
                <input type="text" placeholder="Enter Longitude">
            </div>
            <div>
                <label>Currency:</label>
                <select>
                    <option>Select Currency</option>
                    <option>Currency 1</option>
                    <option>Currency 2</option>
                    <option>Currency 3</option>
                </select>
            </div>

        </div>
        <div class="attachment">
            <input type="file" name="uploadfile" id="img" style="display:none;" />
            <label for="img"> <i class="fa fa-paperclip " style="padding-right: 10%;"></i> Attachment</label>
        </div>

        <div class="lower-body">
            <h2 style="text-align: center">..::Contact Person Detail::..</h2>
            <fieldset></fieldset>
            <div class="account-details">
                <div>
                    <label style="color: red;">Name:</label>
                    <input type="text" placeholder="Enter Person Name">
                </div>
                <div>
                    <label style="color: red;">Mobile:</label>
                    <input type="text" placeholder="Enter Mobile No">
                </div>
                <div>
                    <label>Email:</label>
                    <input type="text" placeholder="Enter Email">
                </div>
                <div>
                    <label style="color: red;">Department:</label>
                    <input type="text" placeholder=" Enter Department">
                </div>
                <div>
                    <label style="color: red;">Designation:</label>
                    <input type="text" placeholder=" Enter Designation">
                </div>
                <div>
                    <button class="add">+ Add</button>
                    <button class="cancel">X Cancel</button>
                </div>
            </div>
            <div id="addtable">
                <table>

                </table>
            </div>

        </div>
    </form>
</div>