<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <mat-toolbar>
        <span>Add / Update Data</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with open icon">
            <mat-icon>open_with</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with delete icon">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with add icon" routerLink="/add-user">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with clear icon">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-toolbar>
    
    <router-outlet></router-outlet>
</body>
</html>
