<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Address</th>
      <th>Country</th>
      <th>State</th>
      <th>City</th>
      <th>Mobile No</th>
      <th>Email</th>
      <th>GST No</th>
      <th>PAN No</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Pincode</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tableData">
      <td>{{ item.Code }}</td>
      <td>{{ item.Name }}</td>
      <td>{{ item.Address }}</td>
      <td>{{ item.Country }}</td>
      <td>{{ item['State,150,1'] }}</td>
      <td>{{ item['City,150,1'] }}</td>
      <td>{{ item['Mobile No'] }}</td>
      <td>{{ item.Email }}</td>
      <td>{{ item['GST No'] }}</td>
      <td>{{ item['PAN No'] }}</td>
      <td>{{ item.Latitude }}</td>
      <td>{{ item.Longitude }}</td>
      <td>{{ item.Pincode }}</td>
    </tr>
  </tbody>
</table>
